extends layout
block content
  
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Sign Up

        // register form
        form(method='POST' action=`/users/${userId}/recipes/${recipe.id}`)
          div.form-group
            label(for='title') Title:
            input#title.form-control(type='text', value=recipe.title title='title')
          div.form-group
            label(for='content') Content:
            input#content.form-control(type='content', value=recipe.content name='content')
          button.btn.btn-primary(type='submit') Submit